body{
    position: absolute;
    top: 20%;
    left: 40%;
    background: rgb(2, 179, 105);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(245, 243, 243);
    width: 280px;
    height: 450px;
}
.container button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    border: none;
    background:white;
    box-shadow: 0px 5px 15px rgb(190, 192, 191);
}
.container hr{
    background-color: rgb(2, 179, 105);
    border: none;
    width: 220px;
    height: 2px;
}
.class-1 input[type="text"]{
    height: 40px;
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 25px;
    background: rgb(243, 245, 244);
    font-family: "Poppins", sans-serif;
    color: rgb(2, 179, 105);
    text-align: end;
}
.class-1 p{
    text-align: end;
    color:rgb(2, 179, 105);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin: 5px;
}
.class-2{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.class-2 button{
    background-color: rgb(2, 179, 105);
}
.class-3{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.class-4{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.class-5{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.class-6{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.class-6 .zero{
    width: 98px;
    height: 40px;
    border-radius: 10px;
}
.class-6 .equal{
    background-color: rgb(2, 179, 105);
}
div button:nth-child(4){
    background: rgb(2, 179, 105);
}